<div class="jumbotron text-center">
  <h1>MEAN Authentication Application</h1>
  <p class="lead">
    MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications.[1]
    
    The MEAN stack is MongoDB, Express.js, AngularJS (or Angular), and Node.js. Because all components of the MEAN stack support programs are written in JavaScript, MEAN applications can be written in one language for both server-side and client-side execution environments.
  </p>
  <div>
    <a class="btn btn-default" routerLink="/register">Register</a>
    <a class="btn btn-default" routerLink="/login">Login</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Express Backend</h4>
         <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
      </div>
      <div class="col-md-4">
          <h4>Angular</h4>
           <p> Angular (commonly referred to as "Angular 2+" or "Angular 2") is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations.</p>
        </div>
        <div class="col-md-4">
            <h4>MongoDB</h4>
             <p>MongoDB (from humongous) is a free and open-source cross-platform document-oriented database program.  </p>
          </div>
</div>
